@import "variables";

.navbar {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background: transparent;
  z-index: 1000;
  padding: 10px 0;

  .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 100px;
  }

  .nav-link {
    color: $color-white !important;
    font-family: $font-bold !important;
    text-transform: uppercase;
    margin: 0 15px;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: $color-primary !important;
    }
  }
}
