@import "../variables";

.finder-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background: $color-dark;
  width: 100%;
  min-height: 100vh;
  padding-top: 10vh;

  .finder-title {
    font-size: 2rem;
    font-weight: bold;
    color: $color-white;
    margin-bottom: 20px;
    transform: translateY(-350px);
    z-index: 20;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 1px;
    padding: 1px;
    border: 2px solid $color-white;
    background-color: transparent;
    transform: translateY(-340px);
  }

  .action-button {
    background: $color-primary;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    transform: translateY(-320px);

    &:hover {
      background: darken($color-primary, 10%);
    }
  }
}

.grid-cell {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid $color-white;
  cursor: pointer;
  transition: background 0.3s ease;
  z-index: 10;

  &.available {
    background-color: rgba(0, 162, 255, 0.5) !important;
    cursor: pointer;
  }
}

.obstacle {
  background-color: brown !important;
}

.start {
  background-color: green !important;
}

.end {
  background-color: red !important;
}

.path {
  background-color: lightgreen !important;
  border: none !important;
}
