@import "../variables";

.finder-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 150px 0 50px;
  text-align: center;
  background: $color-dark;
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 150px;

  .finder-title {
    font-size: 2rem;
    font-weight: bold;
    color: $color-white;
    margin-bottom: 20px;
    position: absolute;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  .grid-container {
    position: relative;
    top: -350px;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    gap: 1px;
    background-color: $color-dark;
    padding: 1px;
    border: 2px solid $color-white;
    background-color: transparent;
    z-index: 5;
  }

  .grid-cell {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid $color-white;
    cursor: pointer;
    transition: background 0.3s ease;

    &.selected {
      background-color: $color-primary;
    }
  }

  .action-button {
    position: relative;
    top: -220px;
    background: $color-primary;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    z-index: 4;

    &:hover {
      background: darken($color-primary, 10%);
    }
  }
}

footer {
  background: $color-dark;
  color: $color-dark;
  text-align: center;
  padding: 10px;

  p {
    color: $color-white;
  }
}

button {
  margin-top: 20px;
}

.start {
  background-color: green !important;
}

.end {
  background-color: red !important;
}

.obstacle {
  background-color: brown !important;
}

.path {
  background-color: lightgreen !important;
}
